table, td, th {
    border: 2px solid black;
}

td, th{
    padding: 6px;
    border-radius: 0px;
    text-align: center;

}

table{
    background-color: azure;
    border-spacing: 0cap;
}
div{
    background-color: aqua;
    width: 300px;
    height: 250px;
    padding: 40px;
}

#Luisa{
    background-color: red;
}

.Jireh{
    color: yellow;
    background-color: black;
}

.Poche{
    background-color: red;
}